<% content_for :title do %>
  <%= "Look for the office which suits you the best!" %>
<% end %>
<div style="position:sticky; top:0px; background-color:#e7e7e7;">
  <div class="text-center mt-3">
    <% if params[:query].present? %>
      <h1><%= "MeetingSpaces in #{params[:query].capitalize}"%></h1>
    <% else %>
      <h1>MeetingSpaces</h1>
    <% end %>
  </div>
  <div class="container" style="display: flex !important; justify-content:center;">
    <div data-controller="map"
      id='index-map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style='width: 95%; height: 300px;'>
    </div>
  </div>
  <%= form_with url: offices_path, method: :get, class: "d-flex pt-5 pb-4 justify-content-center gap-2", data: { controller: 'checkbox-select-all' } do |f| %>
    <%= f.text_field :query, value: params[:query], placeholder: "Find a Space in..." %>
    <%= f.number_field :max_price, value: params[:max_price], min: 0, placeholder: "Max €" %>
    <%= f.number_field :min_price, value: params[:min_price], min: 0, placeholder: "Min €" %>
    <%= f.number_field :max_capacity, value: params[:max_capacity], min: 0, placeholder: "Max capacity" %>
    <%= f.fields_for :facilities do |facilities_form| %>
      <div id="list1" class="dropdown-check-list" tabindex="100" data-controller="checkbox">
        <span class="anchor">
          <% if params[:facilities]&.[](:facility_id).present? %>
            <% if params[:facilities]&.[](:facility_id)&.count == 1 %>
              Choose a Facility
            <% elsif params[:facilities]&.[](:facility_id)&.count == 2 %>
              <%= "#{ params[:facilities]&.[](:facility_id)&.count - 1 } facility chosen" %>
            <% else %>
              <%= "#{ params[:facilities]&.[](:facility_id)&.count - 1 } facilities chosen" %>
            <% end %>
          <% else %>
            Choose a Facility
          <% end %>
        </span>
        <ul id="items" class="items">
          <%= facilities_form.collection_check_boxes(:facility_id, Facility.all, :id, :name, { checked: params[:facilities]&.[](:facility_id) } ) do |f| %>
            <li>
              <%= f.label %>
              <%= f.check_box %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.submit "Search", class: 'custom-button', style:"border-color:dark-gray; padding:7px; border-style:outset; border-width:2px; text-decoration:none;" %>
    <%= link_to "Clear", offices_path, style: "width: 60px; text-decoration: underline; align-self:center; color:#002B5B;" %>
  <% end %>
</div>
<div class="index-container">
  <% if @offices.empty?  %>
    <p>Opss, no Offices match your filters...</p>
  <% else  %>
    <div class="office-grid">
      <% @offices.each do |office| %>
        <div class="grid-item">
          <%= link_to office_path(office), :class => "text-decoration-none" do %>
            <div class="office-card">
              <%= cl_image_tag office.photo.key, :class => "office-card-img", crop: :fill if office.photo.attached? %>
              <div class="card-content">
                <h1 class="card-header">
                  <strong><%= office.name %></strong>
                </h1>
                <div class="card-attr">
                  <i class="fa-solid fa-person-shelter"></i>
                  <span><%= office.max_capacity %></span>
                  <i class="fa-solid fa-handshake"></i>
                  <span><%= office.meeting_rooms %></span>
                </div>
                <div class="card-price">
                  <span><%= office.price.to_i %> <%= icon('fa solid', 'euro') %> day</span>
                </div>
                <div class="card-rating">
                  <% if office.bookings.any? { |booking| !booking.review.nil? } %>
                    <% array=[] %>
                    <% office.bookings.each do |booking| %>
                      <% array.push(booking.review&.ratings) %>
                    <% end %>
                    <% if array.sum(&:to_f)/array.compact.length == 5 %>
                      <p><%= icon('fa-solid', 'star') * (array.sum(&:to_i)/array.compact.length) + icon('fa-regular', 'star') * (5-array.sum(&:to_i)/array.compact.length) + " #{(array.sum(&:to_i)/array.compact.length)}/5" %></p>
                    <% else %>
                      <p><%= icon('fa-solid', 'star') * (array.sum(&:to_i)/array.compact.length) + icon('fa-regular', 'star') * (5-array.sum(&:to_i)/array.compact.length) + " #{(array.sum(&:to_f)/array.compact.length).round(1)}/5" %></p>
                    <% end %>
                  <% else %>
                    <i class="fa-solid fa-star"></i>
                    <span><%= "Not rated yet" %></span>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end  %>
</div>
