<% content_for :title do %>
  <%= "Look for the office which suits you the best!" %>
<% end %>
<div class="text-center mt-3">
  <% if params[:query].present? %>
    <h1><%= "Office spaces in #{params[:query].capitalize}"%></h1>
  <% else %>
    <h1>Office spaces</h1>
  <% end %>
</div>
<div class="container">
  <div data-controller="map"
      id='index-map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style='width: 100%; height: 300px;'>
  </div>
</div>
<div class="container">
  <%= form_with url: offices_path, method: :get, class: "d-flex w-50 p-3 align-middle mx-auto" do %>
    <%= text_field_tag :query,params[:query], class: "form-control", placeholder: "Find a Space" %>
    <%= number_field_tag :price, placeholder: "Minimum price per day", value: params[:price] %>
    <%= number_field_tag :max_capacity, placeholder: "Maximum capacity", value: params[:max_capacity] %>
    <%= select_tag :facilities, placeholder: "Select the facilities", value: params[:facility_ids] %>
    <%= submit_tag "Search", class: "light-blue-btn mx-3" %>
  <% end %>
</div>
<div class="index-container">
  <div class="office-grid">
    <% @offices.each do |office| %>
      <div class="grid-item">
        <%= link_to office_path(office), :class => "text-decoration-none" do %>
          <div class="office-card">
            <%= cl_image_tag office.photo.key, :class => "office-card-img", crop: :fill if office.photo.attached? %>
            <div class="card-content">
              <h1 class="card-header">
                <strong><%= office.name %></strong>
              </h1>
              <div class="card-attr">
                <i class="fa-solid fa-person-shelter"></i>
                <span><%= office.max_capacity %></span>
                <i class="fa-solid fa-handshake"></i>
                <span><%= office.meeting_rooms %></span>
              </div>
              <div class="card-price">
                <i class="fa-solid fa-euro"></i>
                <span><%= "#{office.price}/day" %></span>
              </div>
              <div class="card-rating">
                <% if office.bookings.any? { |booking| !booking.review.nil? } %>
                  <% array=[] %>
                  <% office.bookings.each do |booking| %>
                    <% array.push(booking.review&.ratings) %>
                  <% end %>
                  <% if array.sum(&:to_f)/array.compact.length == 5 %>
                    <p><%= icon('fa-solid', 'star') * (array.sum(&:to_i)/array.compact.length) + icon('fa-regular', 'star') * (5-array.sum(&:to_i)/array.compact.length) + " #{(array.sum(&:to_i)/array.compact.length)}/5" %></p>
                  <% else %>
                    <p><%= icon('fa-solid', 'star') * (array.sum(&:to_i)/array.compact.length) + icon('fa-regular', 'star') * (5-array.sum(&:to_i)/array.compact.length) + " #{(array.sum(&:to_f)/array.compact.length).round(1)}/5" %></p>
                  <% end %>
                <% else %>
                  <i class="fa-solid fa-star"></i>
                  <span><%= "Not rated yet" %></span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
