<% require "date" %>
<% current_day = DateTime.current.to_date %>

<% content_for :title do %>
  <%= @office.name %>
<% end %>

<div class="text-center mt-3">
  <h1>
    <%= @office.name %> <%= link_to "Edit", edit_office_path %>
  </h1>
</div>

<div class="col-2">
  <div class="card p-3">
    <%= simple_form_for [@office, @booking], data: { controller: 'flatpickr' } do |f| %>
      <%= f.input :start_date, as: :string, label: false, input_html: { data: { flatpickr_target: "startDate" }, id: 'start_date', class: "d-none" } %>
      <%= f.input :end_date, as: :string, label: false, input_html: { data: { flatpickr_target: "endDate" }, id: 'end_date', class: "d-none" } %>
      <%= f.submit class: "btn-confirm" %>
    <% end %>
  </div>
</div>

<div id='map' style='width: 400px; height: 300px;'></div>
