<% require "date" %>
<% current_day = DateTime.current.to_date %>
<div class="show-container">
  <div class="show-office-container">
    <div class="show-office-card">
      <% content_for :title do %>
        <%= @office.name %>
      <% end %>
      <div class="d-flex justify-content-between">
        <h2 class="card-title"><%= @office.name %></h2>
        <div class="ratings-average">
          <% if @has_review %>
            <% array=[] %>
            <% @office.bookings.each do |booking| %>
              <% array.push(booking.review&.ratings) %>
            <% end %>
            <% if array.sum(&:to_f)/array.compact.length == 5 %>
              <p class="average"><%= "#{array.sum(&:to_i)/array.compact.length}/5" %></p>
            <% else %>
              <p class="average"><%= "#{(array.sum(&:to_f)/array.compact.length).round(1)}/5" %></p>
            <% end %>
          <% else %>
            <style type="text/css">
              .ratings-average{display:none};<%= " " %>
            </style>
          <% end %>
        </div>
      </div>
      <%= cl_image_tag @office.photo.key, width:700, crop: :fill if @office.photo.attached?%>
      <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
        <p class="line-clamp" data-read-more-target="content">
          <%= @office.description %>
        </p>
        <div class="d-flex justify-content-start"; style="gap:10px; padding-bottom:20px;">
          <a data-action="read-more#toggle" class="text-blue" style="cursor:pointer; padding: 20px 0px 0px 20px;">Read more</a>
          <% if policy(@office).edit? %>
            <%= link_to "Edit", edit_office_path, class:"btn-edit", style:"height:40px; margin-top:10px; border-color:black; padding:7px; border-style:outset; border-width:2px; text-decoration:none;" %>
          <% end %>
          <% if policy(@office).destroy? %>
            <%= link_to "Delete your propierty", office_path(@office), class: "btn-delete", style:"height:40px; margin-top:10px; border-color:black; padding:7px; border-style:outset; border-width:2px; text-decoration:none;", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          <% end %>
          <% unless @bookings.empty? %>
          <%= link_to "Bookings", office_bookings_path(@office), class: "btn-mint", style:"height:40px; margin-top:10px; border-color:black; padding:7px; border-style:outset; border-width:2px; text-decoration:none;" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex" style="gap:100px; justify-content:center; height:10px; margin-bottom:10px;">
      <% if current_user == @office.user %>
        <p><%= "Max capacity #{@office.max_capacity} people" %></p>
        <p><%= "Meeting rooms #{@office.meeting_rooms}" %></p>
        <p><%= "Price per day #{@office.price}€" %></p>
      <% else %>
        <p><%= "Max capacity #{@office.max_capacity} people" %></p>
        <p><%= "Meeting rooms #{@office.meeting_rooms}" %></p>
      <% end %>
    </div>
    <% unless @office.facilities.empty? %>
      <div class="show-facilities">
        <h2 class="card-title">Facilities</h2>
        <% @office.facilities.each do |element| %>
          <ul>
            <li><%= element.name.capitalize %></li>
          </ul>
        <% end %>
      </div>
    <% else %>
      <style type="text/css">
        .show-facilities{display:none};<%= " " %>
      </style>
    <% end %>
    <div data-controller="map"
      id='show-map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style='width: 722px; height: 300px;'>
    </div>
    <div class="show-contact">
      <div class="d-flex justify-content-between">
        <div class="d-flex" style="gap:20px;">
          <%= cl_image_tag @office.user.avatar.key, width: 50, height: 50, id: "miniavatar", crop: :fill if @office.user.avatar.attached? %>
          <h3>Email to <strong><%= "#{@office.user.first_name} #{@office.user.last_name}" %></strong>, owner</h3>
        </div>
        <%= mail_to "#{(@office.user).email}", "Contact" %>
      </div>
    </div>
    <div class="show-office-reviews">
      <h2 class="card-title">Reviews</h2>
      <div class="write-review-card">
        <% past_bookings = @bookings.select { |booking| booking.end_date < current_day && booking.user == current_user && booking.review.nil?}%>
        <% if !past_bookings.nil? %>
          <% past_bookings.each do |booking| %>
            <% if booking.confirmed? && current_day > booking.end_date %>
              <div class="form">
                <%= simple_form_for [booking, Review.new] do |f| %>
                  <%= f.input :ratings, collection: (1..5).to_a, label: "Rate your experience from #{booking.start_date.strftime("%A, %B %e, %Y")} to #{booking.end_date.strftime("%A, %B %e, %Y")}", input_html: {data: {controller: "star-rating"}} %>
                  <%= f.input :comment %>
                  <%= f.submit "Submit review", class: "btn-confirm" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% else %>
        <% end %>
      </div>
      <% if @has_review %>
        <% @bookings.each do |booking| %>
          <% unless booking.review.nil? %>
            <div class="review-card">
              <div class="d-flex" style="margin-bottom:10px;">
                <%= cl_image_tag booking.user.avatar.key, width: 50, height: 50, id: "miniavatar", crop: :fill if booking.user.avatar.attached? %>
                <p class="review-user"><strong><%= booking.user.first_name+" "+booking.user.last_name %></strong><%= " #{booking.review&.created_at.strftime("%A, %B %e, %Y")}" %></p>
              </div>
              <div class="d-flex justify-content-between">
                <p><%= booking.review&.comment %></p>
                <span class="review-stars"><%= icon('fa-solid', 'star' ) * booking.review&.ratings + icon('fa-regular', 'star') * (5-booking.review&.ratings) %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>This property does not have any reviews yet.</p>
      <% end %>
    </div>
  </div>
  <div class="show-booking">
    <% unless @office.user == current_user %>
      <div id="office-booking-dates" data-unavailable="<%= @office.unavailable_dates.to_json %>"></div>
      <%= simple_form_for [@office, @booking], data: { controller: 'flatpickr' } do |f| %>
        <div style="color:black; align-self:center; margin-top:40px;">
          <h3><strong>Pick a date</strong></h3>
        </div>
        <%= f.input :start_date, as: :string, label: false, required: true, input_html: {data: { flatpickr_target: "startDate" }, class: "range_start d-none"} %>
        <%= f.input :end_date, as: :string, label: false, required: true, input_html: {data: { flatpickr_target: "endDate" }, class: "range_end d-none"} %>
        <button type="button" id="clear_button" style="width: 60px; align-self:center; margin-bottom:20px; background-color:#002B5B; color:white;" title="clear" data-clear>Clear</button>
        <div style="margin-left:30px; color:black;">
          <p><strong>Price per day: </strong><span id="office-price-per-day"><%= @office.price.to_int %></span> €</p>
          <p>Book for <span id="total-days">0</span><span id="string-days"> days</span></p>
          <p>Total cost: <span id="total-cost">0</span> €</p>
          <div class="row">
            <div class="col-1">
              <input type="checkbox" id="terms" name="terms" value="accept">
            </div>
            <div class="col-10">
              <label for="terms"> Accept our <%= link_to "Terms&Conditions", terms_and_conditions_path, data: { turbo_frame: "modal" } %></label>
            </div>
          </div>
        </div>
        <%= f.submit disabled: true, class: 'btn-confirm mt-3', id: 'submit_button' %>
      <% end %>
    <% end %>
  </div>
</div>
