<% require "date" %>
<% current_day = DateTime.current.to_date %>
<div class="show-container">
  <div class="show-office-container">
    <% content_for :title do %>
      <%= @office.name %>
    <% end %>
    <div class="card">
      <h2 class="card-title"><%= @office.name %></h2>
      <%= cl_image_tag @office.photo.key, class:"card-img-top", width:700, crop: :fill, style: "border-radius: 15px;" if @office.photo.attached?%>
      <p class="card-text"><%= @office.description%></p>
      <% if policy(@office).edit? %>
        <%= link_to "Edit", edit_office_path, class:"btn btn-success"%>
      <% end %>
      <% if policy(@office).destroy? %>
        <%= link_to "Delete your propierty", office_path(@office), class: "btn btn-danger my-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
    <div class="card">
      <h2 class="card-title">Location</h2>
      <p><%= @office.address %></p>
      <% if @office.geocoded? %>
        <div class="container">
          <div data-controller="map"
      id='map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style='width: 75%; height: 300px;'>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card">
      <h2 class="card-title">Reviews</h2>
      <% if @has_review %>
        <% @bookings.each do |booking| %>
          <% if !booking.review.nil? %>
            <ul class="list-group list-unstyled">
              <li>
                <span class="fa-stack-1x" >
                  <%= icon('fa-solid', 'star' ) * booking.review&.rating + icon('fa-regular', 'star') * (5-booking.review&.rating) %>
                </span>
              </li>
              <li>
                <p><strong><%= current_user.first_name+" "+current_user.last_name %></strong></p>
              </li>
              <li>
                <p><%= booking.review&.content %></p>
              </li>
              <hr>
            </ul>
          <% end %>
        <% end %>
      <% else %>
        <p>This property does not have any reviews yet.</p>
      <% end %>
    </div>
  </div>
  <div class="col-2">
    <div class="card p-3">
      <% unless @office.user == current_user %>
        <%= simple_form_for [@office, @booking], data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :start_date, as: :string, label: false, input_html: { data: { flatpickr_target: "startDate" }, id: 'start_date', class: "d-none" } %>
          <%= f.input :end_date, as: :string, label: false, input_html: { data: { flatpickr_target: "endDate" }, id: 'end_date', class: "d-none" } %>
          <%= f.submit class: "btn-confirm" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
