<% require "date" %>
<% current_day = DateTime.current.to_date %>
<div class="show-container">
  <div class="show-office-container">
    <div class="show-office-card">
      <% content_for :title do %>
        <%= @office.name %>
      <% end %>
      <div class="d-flex justify-content-between">
        <h2 class="card-title"><%= @office.name %></h2>
        <div class="ratings-average">
          <% if @has_review %>
            <% array=[] %>
            <% @office.bookings.each do |booking| %>
              <% array.push(booking.review&.ratings) %>
            <% end %>
            <% if array.sum(&:to_f)/array.compact.length == 5 %>
              <p><%= "#{array.sum(&:to_i)/array.compact.length}/5" %></p>
            <% else %>
              <p><%= "#{array.sum(&:to_f)/array.compact.length}/5" %></p>
            <% end %>
          <% else %>
            <style type="text/css">
              .ratings-average{display:none};<%= " " %>
            </style>
          <% end %>
        </div>
      </div>
      <%= cl_image_tag @office.photo.key, width:700, crop: :fill if @office.photo.attached?%>
      <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
        <p class="line-clamp" data-read-more-target="content">
          <%= @office.description %>
        </p>
        <button data-action="read-more#toggle" class="btn-confirm">Read more</button>
      </div>
      <% if policy(@office).edit? %>
        <%= link_to "Edit", edit_office_path, class:"btn btn-success"%>
      <% end %>
      <% if policy(@office).destroy? %>
        <%= link_to "Delete your propierty", office_path(@office), class: "btn btn-danger my-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
    <div class="d-flex" style="gap:100px; justify-content:center; height:10px; margin-bottom:10px;">
      <p><%= "Max capacity #{@office.max_capacity} people" %></p>
      <p><%= "Meeting rooms #{@office.meeting_rooms}" %></p>
      <p><%= "Price per day #{@office.price}€" %></p>
    </div>
    <div class="show-facilities">
      <h2 class="card-title">Facilities</h2>
      <% Facility.find(@office.facility_ids).each do |element| %>
        <ul>
          <li><%= element.name %></li>
        </ul>
      <% end %>
    </div>
    <div data-controller="map"
      id='show-map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style='width: 722px; height: 300px;'>
    </div>
    <div class="show-office-reviews">
      <h2 class="card-title">Reviews</h2>
      <% if @has_review %>
        <% @bookings.each do |booking| %>
          <% unless booking.review.nil? %>
            <ul class="list-group list-unstyled">
              <li>
                <span class="fa-stack-1x">
                  <%= icon('fa-solid', 'star' ) * booking.review&.ratings + icon('fa-regular', 'star') * (5-booking.review&.ratings) %>
                </span>
              </li>
              <li>
                <div class="d-flex">
                  <%= cl_image_tag booking.user.avatar.key, width: 50, height: 50, id: "miniavatar", crop: :fill if booking.user.avatar.attached? %>
                  <p class="review-user"><strong><%= booking.user.first_name+" "+booking.user.last_name %></strong><%= " #{booking.review&.created_at.strftime("%A, %B %e, %Y")}" %></p>
                </div>
              </li>
              <li>
                <p><%= booking.review&.comment %></p>
              </li>
              <hr>
            </ul>
          <% end %>
        <% end %>
      <% else %>
        <p>This property does not have any reviews yet.</p>
      <% end %>
    </div>
  </div>
  <div class="show-booking">
    <%= link_to new_booking_path(@office) %>
  </div>
</div>
