<% require "date" %>
<% current_day = DateTime.current.to_date %>
<div class="show-container">
  <div class="show-office-container">
    <% content_for :title do %>
      <%= @office.name %>
    <% end %>
    <div class="show-office-card">
      <h2 class="card-title"><%= @office.name %></h2>
      <%= cl_image_tag @office.photo.key, width:700, crop: :fill if @office.photo.attached?%>
      <p class="card-text"><%= @office.description.truncate(20, :separator=>' ') { link_to 'Read More', class:"btn" } %></p>
      <% if policy(@office).edit? %>
        <%= link_to "Edit", edit_office_path, class:"btn btn-success"%>
      <% end %>
      <% if policy(@office).destroy? %>
        <%= link_to "Delete your propierty", office_path(@office), class: "btn btn-danger my-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
    <div data-controller="map"
      id='show-map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style='width: 722px; height: 300px;'>
    </div>
    <div class="show-office-reviews">
      <h2 class="card-title">Reviews</h2>
      <% if @has_review %>
        <% @bookings.each do |booking| %>
          <% unless booking.review.nil? %>
            <ul class="list-group list-unstyled">
              <li>
                <span class="fa-stack-1x">
                  <%= icon('fa-solid', 'star' ) * booking.review&.ratings + icon('fa-regular', 'star') * (5-booking.review&.ratings) %>
                </span>
              </li>
              <li>
                <p><strong><%= current_user.first_name+" "+current_user.last_name %></strong></p>
              </li>
              <li>
                <p><%= booking.review&.comment %></p>
              </li>
              <hr>
            </ul>
          <% end %>
        <% end %>
      <% else %>
        <p>This property does not have any reviews yet.</p>
      <% end %>
    </div>
  </div>
  <div class="show-booking">
    <% unless @office.user == current_user %>
      <%= simple_form_for [@office, @booking], data: { controller: 'flatpickr',  unavailable_dates: @office.unavailable_dates.to_json } do |f| %>
        <%= f.input :start_date, as: :string, label: false, input_html: { data: { flatpickr_target: "startDate" }, id: 'start_date', class: "d-none" } %>
        <%= f.input :end_date, as: :string, label: false, input_html: { data: { flatpickr_target: "endDate" }, id: 'end_date', class: "d-none" } %>
        <%= f.submit class: "btn-confirm" %>
      <% end %>
    <% else %>
      <p>This property does not have any reviews yet.</p>
    <% end %>
  </div>
</div>
