<% content_for :title do %>
  <%= "Your booking information for #{@booking.office.name}" %>
<% end %>
<% require "date" %>
<% current_day = DateTime.current.to_date %>
<div class="container background-colour-white">
  <h1 class="text-center my-2">Booking information for <%= @booking.office.name %></h1>
  <% if @booking.confirmed? %>
    <h2 class="text-center">Invoice # <%= @booking.id %></h2>
    <div class="download">
      <i class="fa-solid fa-file-pdf fa-fw"></i><%= link_to 'Download Invoice', booking_download_path(@booking, format: :pdf) %>
    </div>
  <% else %>
    <p class="text-center my-4">You can download an invoice of your booking, once it has been confirmed.</p>
  <% end %>
  <div class="empty-space">
  </div>
  <h5 class="mt-5">Owned & managed by: <%= @booking.office.user.first_name %> <%= @booking.office.user.last_name %></h5>
  <p>Thank you for booking with MeetingSpace. We hope you have enjoyed using our platform and your experience with us has been great for your professional meeting or company event</p>
  <br>
  <p>For any feedback on our website please email <a href="mailto:info@meetingspace.com"> info@meetingspace.com</a></p>
  <% if @booking.end_date < current_day && @booking.user == current_user && @booking.review.nil? && @booking.confirmed? %>
  <p>Don't forget to leave a  <%= link_to "review",  new_booking_review_path(@booking)%> on this property.</p>
  <% end %>
  <br>
  <br>
  <div class="my-2">
    <table class="GeneratedTable">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Day(s)</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr>
          <td><%= @booking.start_date.strftime("%b %d, %Y") %></td>
          <td><%= @booking.end_date.strftime("%b %d, %Y") %></td>
          <% unless @booking.start_date == @booking.end_date %>
            <td><%= (@booking.end_date - @booking.start_date).to_i %></td>
          <% else %>
            <td>1</td>
          <% end %>
          <td><%= @booking.total_price.to_i %>€</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><b>VAT</b></td>
          <td><%= (@booking.total_price.to_i*20)/100  %>€</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><b>Total</b></td>
          <td>£<%= @booking.total_price.to_i %>€</td>
        </tr>
      </tbody>
    </table>
    <div class="empty-space">
    </div>
    <div class="text-center my-4">
      <p>You have agreed to our Terms & Conditions, which are legally binding</p>
      <div class="logo-background-booking">
        <%= image_tag "https://github.com/margeol90/meeting_space/blob/master/app/assets/images/MS%20logo.png?raw=true"%>
      </div>
      <div class="contact-info">
        <p>12, Piccadilly Circus, UK, info@meetingspace.com, Tel: + 01 234 567 88, Fax: + 01 234 567 89</p>
        <p>VAT reg. 1234 567 89</p>
      </div>
    </div>
  </div>
</div>
