<% content_for :title do %>
  <%= "Meetingspace, your best option for finding your space to work!" %>
<% end %>
<div class="container">
  <h1 class="text-center my-2">Book meeting spaces anywhere</h1>
</div>

<div class="container">
  <div class="banner">
    <div class="banner-content text-center">
      <h3>Find offices and meeting rooms to book for <br>the day or for company events</h3>
    </div>
  </div>
</div>
<br>

<div class="container">
  <%= form_with url: offices_path, method: :get, class: "d-flex w-50 p-3 align-middle mx-auto" do %>
    <%= text_field_tag :query,params[:query], class: "form-control", placeholder: "Find a Space" %>
    <%= submit_tag "Search", class: "light-blue-btn mx-3" %>
  <% end %>
  <div class="h-100 d-flex align-items-center justify-content-center">
    <%= link_to "View All", offices_path, class: "light-blue-btn" %>
  </div>
</div>

<br>
<div class="container">
  <div class="container-flexbox">
    <div class="card-info">
      <div class="card-white">
        <div class="card-white-image-1">
          <img src="" alt="" height="200px">
        </div>
        <div class="content">
          <p>Choose your membership plan based on your preferred work locations and the plan that aligns with your requirements.</p>
        </div>
      </div>
    </div>
    <div class="card-info">
      <div class="card-white">
        <div class="card-white-image-2">
          <img src="background-home.png" alt="" height="200px">
        </div>
        <div class="content">
          <p>Make a reservation in advance using the app and arrive ready to work. Retrieve your keycard, swipe it to access the space, and start your productive day.</p>
        </div>
      </div>
    </div>
    <div class="card-info">
      <div class="card-white">
        <div class="card-white-image-3">
          <img src="background-home.png" alt="" height="200px">
        </div>
        <div class="content">
          <p>Discover your ideal team office space with us. We specialize in offering flexible offices of all sizes, ready and waiting to become your new workspace.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="card-final">
    <div class="about text-center">
      <h5><strong>About us</strong></h5>
      <p>Welcome to our app designed to help you find the perfect meeting space! We are Margarita, Francisco, Jide, and Michael, four students who designed this app as our final project for the Le Wagon bootcamp.
          <br>
          <br>
          Our team has diverse backgrounds and experiences, but we all share a passion for creating innovative solutions to real-world problems. During the bootcamp, we identified a common pain point shared by many people: finding a suitable meeting space. Whether you're a freelancer looking for a quiet coffee shop, or a small business owner in need of a professional conference room, the process of finding and booking a meeting space can be time-consuming and frustrating.
          <br>
          <br>
          That's why we decided to develop an app that streamlines this process and helps you find the perfect meeting space for your needs. Our app allows you to search for meeting spaces by location, amenities, and price range. You can view photos, read reviews from previous users, and book your preferred space directly through the app. We also offer a messaging feature that allows you to communicate directly with the space owner to ask any questions or request special accommodations.
          <br>
          <br>
          Our team worked tirelessly to ensure that our app is user-friendly, efficient, and reliable. We believe that finding the perfect meeting space should be easy and stress-free, and we're proud to have created an app that makes this possible.
          <br>
          <br>
          Thank you for using our app, and we hope it helps you find the perfect meeting space for your next important meeting or event.
      </p>
    </div>
    <div class="team-pic">
      <img src="team-pic.png" alt="" height="200px">
    </div>
  </div>
</div>
