<% content_for :title do %>
  <%= "Meetingspace, your best option for finding your space to work!" %>
<% end %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Find offices and meeting rooms to book for <br>the day or for company events</h1>
  </div>
</div>

<br>

<div class="container text-center">
  <div class="homepage-typed-js">
      <h1><span data-controller="typed-js"></span></h1>
  </div>
</div>

<div class="container">
  <%= form_with url: offices_path, method: :get, class: "d-flex w-50 p-3 align-middle mx-auto" do %>
    <%= text_field_tag :query,params[:query], class: "form-control", placeholder: "Find spaces near #{@city}" %>
    <%= submit_tag "Search", class: "custom-button" %>
  <% end %>
  <div class="h-100 d-flex align-items-center justify-content-center">
    <%= link_to "View All", offices_path, class: "custom-button" %>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card-white-image-1"></div>
      <div class="content">
        <p class="card-text mb-0 text-center"><strong>Make reservations online</strong><br></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-white-image-2"></div>
      <div class="content">
        <p class="card-text mb-0 text-center"><strong>Get benefits with a membership plan</strong><br></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-white-image-3"></div>
      <div class="content">
        <p class="card-text mb-0 text-center"><strong>Find the ideal office space</strong><br> </p>
      </div>
    </div>
  </div>
</div>
<br>

<br>
<div class="container text-center" id="why-meetingspace">
  <h4><strong>Why MeetingSpace</strong></h4>
  <br>
  <div class="why-home text-center">
    <p>MeetingSpace offers you spaces with world class facilities that are designed with work in mind. Make a reservation in advance using the app and arrive ready to work immediately, plug-and-play!
      <br>Signing up for our membership also provides you with additional benefits such as 24/7 customer support and unlimited coffee.</p>
  </div>
</div>
<br>

<br>
<div class="container">
  <div class="home-carousel">
    <div id="carouselExampleAutoplaying" class="carousel slide lazy-load" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "pexels-1.jpg", height: "550px", width: "80%", class:"d-block w-100"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "pexels-2.jpg", height: "550px", width: "80%", class:"d-block w-100"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "pexels-3.jpg", height: "550px", width: "80%", class:"d-block w-100"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "pexels-5.jpg", height: "550px", width: "80%", class:"d-block w-100"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "pexels-6.jpg", height: "550px", width: "80%", class:"d-block w-100"%>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="text-center">
  <h4><strong>What our clients say about MeetingSpace</strong></h4>
  <br>
  <br>
  <div class="splide" data-controller="splide">
    <div class="splide__track">
		  <ul class="splide__list">
        <li class="splide__slide">
          <div class="m-1 shadow-elevation-4 rounded-2 bg-body p-2 p-md-2 position-relative h-100 d-flex flex-column">
            <div class="position-relative d-inline-block w-100">
              <div class="city-card-picture-container img-fluid client-1"></div>
              <div class="card-body align-items-start rounded-2">
                <p class="fw-bold fs-15 pt-12 mb-0 text-center">Peter Parker</p>
                <p class="fs-14 mb-10 opacity-80 text-center"><small>Web Inc.</small></p>
                <p class="comment fs-14 mb-7 opacity-80 text-center text-justify"><i>"MeetingSpace is simply the best!"</i></p>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="m-1 shadow-elevation-4 rounded-2 bg-body p-2 p-md-2 position-relative h-100 d-flex flex-column">
            <div class="position-relative d-inline-block w-100">
              <div class="city-card-picture-container img-fluid client-2"></div>
              <div class="card-body align-items-start rounded-2">
                <p class="fw-bold fs-15 pt-12 mb-0 text-center">Enola Holmes</p>
                <p class="fs-14 mb-7 opacity-80 text-center"><small>Baker Street</small></p>
                <p class="comment fs-14 mb-7 opacity-80 text-center text-justify"><i>"I highly recommend this company"</i></p>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="m-1 shadow-elevation-4 rounded-2 bg-body p-2 p-md-2 position-relative h-100 d-flex flex-column">
            <div class="position-relative d-inline-block w-100">
              <div class="city-card-picture-container img-fluid client-3"></div>
              <div class="card-body align-items-start rounded-2">
                <p class="fw-bold fs-15 pt-12 mb-0 text-center">Tony Stark</p>
                <p class="fs-14 mb-7 opacity-80 text-center"><small>Stark Industries</small></p>
                <p class="comment fs-14 mb-7 opacity-80 text-center text-justify"><i>"Their customer service is top-notch"</i></p>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="m-1 shadow-elevation-4 rounded-2 bg-body p-2 p-md-2 position-relative h-100 d-flex flex-column">
            <div class="position-relative d-inline-block w-100">
              <div class="city-card-picture-container img-fluid client-4"></div>
              <div class="card-body align-items-start rounded-2">
                <p class="fw-bold fs-15 pt-12 mb-0 text-center">Shuri Wakanda</p>
                <p class="fs-14 mb-7 opacity-80 text-center"><small>Startup Founder</small></p>
                <p class="comment fs-14 mb-7 opacity-80 text-center text-justify"><i>"MeetingSpace never dissapoints"</i></p>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="m-1 shadow-elevation-4 rounded-2 bg-body p-2 p-md-2 position-relative h-100 d-flex flex-column">
            <div class="position-relative d-inline-block w-100">
              <div class="city-card-picture-container img-fluid client-5"></div>
              <div class="card-body align-items-start rounded-2">
                <p class="fw-bold fs-15 pt-12 mb-0 text-center">Clark Kent</p>
                <p class="fs-14 mb-7 opacity-80 text-center"><small>Kryptonite Investments</small></p>
                <p class="comment fs-14 mb-7 opacity-80 text-center text-justify"><i>"I am thoroughly impressed by MeetingSpace"</i></p>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="m-1 shadow-elevation-4 rounded-2 bg-body p-2 p-md-2 position-relative h-100 d-flex flex-column">
            <div class="position-relative d-inline-block w-100">
              <div class="city-card-picture-container img-fluid client-6"></div>
              <div class="card-body align-items-start rounded-2">
                <p class="fw-bold fs-15 pt-12 mb-0 text-center">Natasha Romanoff</p>
                <p class="fs-14 mb-7 opacity-80 text-center"><small>Black Window</small></p>
                <p class="comment fs-14 mb-7 opacity-80 text-center text-justify"><i>"The flexibility of this company is fantastic!"</i></p>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="m-1 shadow-elevation-4 rounded-2 bg-body p-2 p-md-2 position-relative h-100 d-flex flex-column">
            <div class="position-relative d-inline-block w-100">
              <div class="city-card-picture-container img-fluid client-7"></div>
              <div class="card-body align-items-start rounded-2">
                <p class="fw-bold fs-15 pt-12 mb-0 text-center">Thor Odinson</p>
                <p class="fs-14 mb-7 opacity-80 text-center"><small>Asgaard Ltd.</small></p>
                <p class="comment fs-14 mb-7 opacity-80 text-center text-justify"><i>"Our team felt comfortable and productive"</i></p>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="m-1 shadow-elevation-4 rounded-2 bg-body p-2 p-md-2 position-relative h-100 d-flex flex-column">
            <div class="position-relative d-inline-block w-100">
              <div class="city-card-picture-container img-fluid client-8"></div>
              <div class="card-body align-items-start rounded-2">
                <p class="fw-bold fs-15 pt-12 mb-0 text-center">Diana Themyscira</p>
                <p class="fs-14 mb-7 opacity-80 text-center"><small>Amazons</small></p>
                <p class="comment fs-14 mb-7 opacity-80 text-center text-justify"><i>"I appreciate the variety of meeting spaces available"</i></p>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="m-1 shadow-elevation-4 rounded-2 bg-body p-2 p-md-2 position-relative h-100 d-flex flex-column">
            <div class="position-relative d-inline-block w-100">
              <div class="city-card-picture-container img-fluid client-9"></div>
              <div class="card-body align-items-start rounded-2">
                <p class="fw-bold fs-15 pt-12 mb-0 text-center">Bruce Wayne</p>
                <p class="fs-14 mb-7 opacity-80 text-center"><small>Wayne Enterprises</small></p>
                <p class="comment fs-14 mb-7 opacity-80 text-center text-justify"><i>"They are super-reliable"</i></p>
              </div>
            </div>
          </div>
        </li>
		  </ul>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="card-final">
    <div class="about text-center" id="about-us">
      <h5><strong>About us</strong></h5>
      <p>Welcome to our app designed to help you find the perfect meeting space! We are Margarita, Francisco, Jide, and Michael, and we designed this app as our final project for the Le Wagon bootcamp.
          <br>
          <br>
          Our team has diverse backgrounds and experiences, but we all share a passion for creating innovative solutions to real-world problems. During the bootcamp, we identified a common pain point shared by many people: finding a suitable meeting space. Whether you're a freelancer looking for a quiet coffee shop, or a small business owner in need of a professional conference room, the process of finding and booking a meeting space can be time-consuming and frustrating.
          <br>
          <br>
          That's why we decided to develop an app that streamlines this process and helps you find the perfect meeting space for your needs. Our app allows you to search for meeting spaces, view photos, read reviews from previous users, and book your preferred space.
          <br>
          <br>
          We believe that finding the perfect meeting space should be easy and stress-free and our team worked tirelessly to ensure that our app is user-friendly, efficient.
          <br>
          <br>
          Thank you for using our app, and we hope it helps you find the perfect meeting space for your next important meeting or event.
      </p>
    </div>
    <div class="team-pic"></div>
  </div>
</div>
