<div class="div-account">
  <div class="row">
    <h1 class="account-header">My account</h1>
  </div>
  <div class="row">
    <div class="account-container">
      <div class="account-card">
        <div class="img">
          <%= cl_image_tag @user.avatar.key, width: 150, height: 150, crop: :thumb, class: "rounded-circle" if current_user.avatar.attached? %>
        </div>
        <div class="account-card-content">
          <h3 class="name"><strong><%= "#{@user.first_name}  #{@user.last_name}" %></strong></h3>
          <h3 class="email"><%= @user.email %></h3>
          <div class="account-card-prop">
            <% if @user.offices.count == 1 %>
              <p class="count"><%= "#{@user.offices.count} property listed" %></p>
            <% else %>
              <p class="count"><%= "#{@user.offices.count} properties listed" %></p>
            <% end %>
            <a class="view-link"><%= link_to "View", my_properties_path(@user) %></a>
          </div>
          <div class="account-card-buttons">
            <%= link_to "Edit details", edit_user_registration_path(@user), class:"account-edit" %>
            <form method="post" action="/users"><input type="hidden" name="_method" value="delete" autocomplete="off" /><button data-confirm="Are you sure?" data-turbo-confirm="Are you sure?" type="submit" class="account-delete">Delete account</button><input type="hidden" name="authenticity_token" value="YgyBXoviUS4WFT_pdIJ3mRcuSYtw9pLd63hBVtj1ZZ01k1InvTu2L0HYpPNFGVE_0dB-sZfLAf6vHbBz9L4HzQ" autocomplete="off" /></form>
          </div>
          <p class="login">Last login: <%= @user.last_sign_in_at  %></p>
        </div>
      </div>
    </div>
  </div>
</div>
