<% content_for :title do %>
  <%= "My Properties" %>
<% end %>
<div class="container">
  <h1 class="text-center">My Properties</h1>
  <div class="row">
    <div class="col-md-2">
      <h3><%= current_user.first_name %></h3>
      <p>Last login: <%= current_user.last_sign_in_at  %></p>
      <h3>Want to add a new Office?</h3>
      <%= link_to "New", new_office_path, class: "btn-new" %>
    </div>
    <div class="col-sm-6 col-md-10">
      <% @offices.each do |office| %>
        <div class="card-product my-3">
          <% if office.photo.attached? %>
            <%= cl_image_tag office.photo.key, crop: :fill %>
          <% else %>
            <img src="https://liftlearning.com/wp-content/uploads/2020/09/default-image.png" />
          <% end %>
          <div class="d-flex justify-content-between" style="width:70%; margin-left:20px;">
            <div class="d-flex flex-column">
              <div>
                <h2 class="my-2"><%= link_to "#{office.name}", office_path(office), style:"color:#002B5B" %></h2>
                <p style="margin-top:20px;"><%= office.description.truncate(60, separator: ' ')%></p>
              </div>
              <div class="d-flex" style="margin-top:auto; gap:10px;">
                <i class="fa-solid fa-person-shelter" style="margin-top:auto; margin-bottom:auto;"></i>
                <span><%= office.max_capacity %></span>
                <span><%= office.price.to_i %></span>
                <i class="fa-solid fa-euro-sign" style="margin-top:auto; margin-bottom:auto;"></i>
              </div>
            </div>
            <div class="d-flex flex-column" style="margin-right:10px; gap:5px;">
              <% if policy(office).edit? %>
                <%= link_to "Edit", edit_office_path(office), class: "btn-edit" %>
              <% end %>
              <% if policy(office).destroy? %>
                <%= link_to "Delete", office_path(office), class: "btn-error", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              <% end %>
              <%= link_to "Bookings", office_bookings_path(office), class: "btn-mint" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
